
    <div class="section-1">
        <div class="section-1-content text-white font-gibson-light">
            <h1 class="font-bodega color-golden">For the Love of Food!</h1>
            <p>
                More than 30 years ago, I entered the hospitality industry. I’m a
                world traveler at heart and satisfied my wanderlust desires by cooking
                all over the US, in addition to studying culinary arts, at the
                Culinary Institute of America. I make it my mission to connect people
                with the fascinating world of food! Throughout my journey I’ve had the
                opportunity to work with some of the most legendary chefs and
                restaurants, including Emeril Lagasse at Commander’s Palace, Jeremiah
                Tower at Stars, Todd English at Olives and Paul Bertolli at Oliveto.
            </p>
            <p>
                Seeking a deeper connection to the food of my forefathers, I spent
                five years in my ancestral home of Italy, immersing myself in its
                multifaceted regions with work experiences in over twenty restaurants.
                Most notably, I became executive chef and partner at Venice’s
                internationally celebrated Ristorante al Covo for several years. While
                in the mother country, I was fortunate to strike up a friendship with
                Carlo Petrini, the president of Slow Food, an organization dedicated
                to preserving and passing down age-old culinary practices.
            </p>
        </div>
    </div>
    <div class="section-2">
        <div class="section-2-content text-white font-gibson-light">
            <h1 class="font-bodega color-golden">Lorem ipsum dolor sit</h1>
            <p>
                Having ultimately settled in the US, I opened the first serious
                regional Italian restaurant on the Las Vegas Strip (Onda at the
                Mirage) and have gone on to create, own, and manage concepts with
                prestigious hospitality partners including The Borgata Hotel Atlantic
                City, Caesars Entertainment, Harrah’s, Revel Casino, Isle of Capri
                Biloxi, and Pompano Beach. In Las Vegas, I have worked with Clique
                Hospitality, Red Rock Casino and Wynn Resorts. before moving on to
                develop Meta-Hospitality projects and collaborate with Yaamava at San
                Manuel, The Palms, and other national casino partners.
            </p>
        </div>
    </div>

    <div class="section-3">
        <div class="section-3-content text-white font-gibson-light">
            <h1 class="font-bodega color-golden">I’m a World Traveler at Heart</h1>
            <p>
                Throughout the years working with these luxury brands, I saw an
                opportunity to provide strategic restaurant consulting and founded
                Meta-Hospitality, a Development Solutions Company. Our mission is to
                guide these industry pioneers in creating unique, exciting, and
                profitable food and beverage concepts for Entertainment Districts,
                Hotels and Casinos.
            </p>
            <p>
                I have a deep appreciation for food, wine and the culture behind them,
                and have a passion for bringing out the flavors of the season.
            </p>
            <p>
                Now, I’m thrilled to bring you all of my favorite dishes and recipes,
                and guide you along your own journey in the kitchen. If you’re
                anything like me, you know that cooking has the power to bring people
                together and build lasting memories. Food isn’t just sustenance. It’s
                an experience.
            </p>
            <p><b>Let’s get cooking!</b></p>
        </div>
    </div>

    <app-footer [imgURL]="index_footer_img" class="footer"></app-footer>
