body {
  margin: 0;
  line-height: 1.1 !important;
  background-color: #000000;
  text-align: center;
  font-weight: 100;
}
.footer {
  position: relative;
  top: 317px !important;
}

.section-1-content {
  margin-top: 100px;
}
.section-1-content h1 {
  font-size: 50px;
  letter-spacing: 1.1px;
}
.section-2-content h1,
.section-3-content h1 {
  font-size: 50px;
  letter-spacing: 1.1px;
  margin-bottom: 16px;
}
.section-1-content p,
.section-2-content p,
.section-3-content p {
  font-size: 21px;

  margin-bottom: 22px;
  letter-spacing: -0.1px;
  margin-top: 11px;
  line-height: 1.37;
}

.background-bottom {
  background: transparent url("/assets/images/pexels-cottonbro-3298637f.png") 0% 0% no-repeat padding-box;
  background-size: cover;
  background-position: center;
  position: relative;
}

/* ---------------------------------------------------MEDIA---------------------------------------------------------------- */

@media (max-width: 992px) {
  .section-1,
  .section-2,
  .section-3 {
    position: relative;
    width: 85%;
    margin: auto;
    margin-bottom: 40px;
  }
}

@media (min-width: 992px) {
  .section-1 {
    background: url("/assets/images/IMG_0075-3\ copy.png") no-repeat;
    width: 82.2%;
    height: 1651px;
    background-size: contain;
    background-position: initial;
    position: relative;
    top: -77px;
  }
  .section-2 {
    position: relative;
    background: url("/assets/images/luke-2.png") no-repeat;
    width: 55.5%;
    height: 1399px;
    background-size: contain;
    background-position: right;
    float: right;
    top: -815px;
  }
  .section-3 {
    background: url("/assets/images/Layer\ 2.png") no-repeat;
    position: relative;
    background-size: contain;
    background-position: initial;
    width: 91.7%;
    height: 1509px;
    top: 584px;
  }
  .section-1-content {
    top: 220px;
    position: relative;
    text-align: left;
    max-width: 480px;
    float: right;
    margin-top: 80px;
    margin-left: 40px;
    right: -29px;
  }
  .section-2-content {
    top: 543px;
    position: relative;
    text-align: left;
    max-width: 370px;
    left: -360px;
  }

  .section-3-content {
    position: absolute;
    text-align: left;
    top: 168px;
    right: 0;
    float: right;
    max-width: 440px;
  }
  .section-1-content h1,
  .section-2-content h1,
  .section-3-content h1 {
    font-size: 72px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
  .section-2-content {
    top: 543px;
    position: relative;
    text-align: left;
    max-width: 480px;
    left: -542px;
  }
  .section-3-content {
    position: absolute;
    text-align: left;
    top: 168px;
    right: 154px;
    float: right;
    max-width: 480px;
  }
}
