<header class="grid-container ">
    <div class="header-background"></div>
    <div class="gradient-rectangle"></div>

    <div class="header-text grid-center text-center">
        <h1 class="color-golden font-bodega">Chef Life</h1>
        <p class="font-gibson-light text-white">
            Come with me on a journey into the world of food, and culture. We’ll
            cook delicious recipes, building your skills with simple tips and
            techniques, so you can share your artistic talent, and beautiful food
            with family and friends.
        </p>
    </div>
</header>


<article>
    <div class="section-b-heading text-center">
        <p class="font-gibson-light">Chef Life Video</p>
        <div class="heading-container">
            <div class="strikethrough"></div>
            <div class="heading-gallery font-bodega color-golden">GALLERY</div>
            <div class="strikethrough"></div>
        </div>
    </div>

    <div class="grid-container">
        <div id="video-thumbnails" class="grid-center grid-videos">


            <div *ngFor='let video of videos; let i = index'>
                <app-video-card *ngIf = "i < 9" 
                    [videoId]="video.videoId" 
                    [videoTitle] = "video.videoTitle"
                    [videoDescription] = "video.videoDescription2"
                    [videoUrl] = "video.videoImgUrl">
                </app-video-card>
            </div>
 
        </div>

        <div class="pages">
            <a class="btn-paging color-golden font-gibson-light">1</a>
            <a class="btn-paging color-golden font-gibson-light">2</a>
            <a class="btn-paging color-golden font-gibson-light" style="margin-right: 0">3</a>
            <a class="btn-dots text-white font-gibson-light">...</a>
            <a class="btn-paging color-golden font-gibson-light">100</a>
            <a class="chevron-right"><i class="fal fa-chevron-right"></i></a>
        </div>
    </div>
</article>
<app-footer [imgURL]="index_footer_img"></app-footer>