header {
    min-height: 670px;
  }
  
  .header-background {
    position: absolute;
    background: url("../../assets/images/IMG_-132.png");
    width: 100%;
    min-height: 670px;
    top: 0;
    z-index: -2;
    background-size: cover;
  
  }
  
  .gradient-rectangle {
    position: absolute;
    background: transparent linear-gradient(90deg, #000000 0%, #00000000 100%) 0%
      0% no-repeat padding-box;
    z-index: -1;
    top: 0;
    width: 100%;
    height: 670px;
  }
  .grid-container {
    display: grid;
    grid-template-columns: 30px repeat(4, 1fr) 30px;
    width: 100%;
  }
  .header-text h1 {
    text-align: left;
    letter-spacing: 0px;
    font-size: 72px;
    margin: 0 0 14px 0;
  }
  
  .header-text p {
    text-align: left;
    letter-spacing: 0px;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -0.1px;
  }
  
  .grid-center {
    grid-column: 2 / 6;
  }
  
.header-text h1 {
  text-align: left;
  letter-spacing: 0px;
  font-size: 72px;
  margin: 0 0 14px 0;
}

.header-text p {
  text-align: left;
  letter-spacing: 0px;
  font-size: 24px;
  line-height: 1.5;
  letter-spacing: -0.1px;
}

.grid-center {
  grid-column: 2 / 6;
}

article {
  margin: 100px 0 100px 0;
}

.section-b-heading p {
  letter-spacing: 0px;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: 0px;  
  line-height: 0.9;
}


.heading-gallery {
  letter-spacing: 0px;
  font-size: 80px;
}

.heading-container {
  display: flex;
  max-width: 303px;
  margin: auto;
  margin-bottom: 60px;
  line-height: 1;
  column-gap: 20px;
  text-align: center;
}

.strikethrough {
  width: 56px;
  height: 3px;
  background-color: #ffffff;
  opacity: 0.25;
  margin: auto 0;
}

.grid-videos {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 5px;
  row-gap: 60px;
}

/*  */

.card-title {
  text-align: left;
  letter-spacing: 0px;
  font-size: 41px;
  margin-bottom: 3px;
}
.card-text {
  margin-bottom: 15px;
}

.card-container p {
  font-size: 21px;
  text-align: left;
  letter-spacing: -0.1px;
  color: #ffffff;
  line-height: 1.34;
}

.card-body {
  padding: 20px 20px 0 20px !important;
}

.learn-more-btn {
  text-decoration: none;
  float: left;
  font-size: 15px;
  letter-spacing: 01.95px;
}

.play-video {
  position: absolute;
  font-size: 47px;
  z-index: 2;
  pointer-events: none;
  fill: #ffffff;
}

.img-container {
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  place-self: baseline;
}

.img-container :hover {
  transform: scale(1.1);
  transition: 0.3s ease-out;
  cursor: pointer;
}

.card-img-top:hover + svg {
  background-color: #c29824;
  border-radius: 50%;
}

/*  */
.pages {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  column-gap: 10px;
  margin: 60px 0px 0 0px;
  padding-left: 15px;
  grid-column: 2/6;
  &:hover{
    cursor: pointer;
  }
}

.btn-paging {
  font-size: 21px;
  border: 2px solid #c29824;
  text-decoration: none;
  height: 52px;
  width: 58px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-dots {
  font-size: 21px;
  text-decoration: none;
  letter-spacing: 4px;
  margin-right: 10px;
}
.btn-paging:hover {
  background-color: #c29824;
  color: #ffffff;
}

.chevron-right {
  margin-left: 10px;
  color: #ffffff;
  align-self: center;
}
.color-golden {
  color: #c29824;
}
.share-btn {
  color: #797979;
  font-size: 21px;
  padding: 0px 18px;
}
  
    .header-text {
      width: 100%;
      margin-top: 125px;
      z-index: 1;
    }
/* ---------------------------------------------------MEDIA---------------------------------------------------------------- */

@media (min-width: 576px) {
    .grid-container {
      display: grid;
      grid-template-columns: 50px repeat(4, 1fr) 50px;
      width: 100%;
    }
  
    .pages {
      margin-top: 113px;
      column-gap: 10px;
      margin: 113px 15px 0 15px;
      padding-left: 38px;
    }

  }
  
  @media (min-width: 768px) {
    .grid-container {
      display: grid;
      grid-template-columns: 70px repeat(4, 1fr) 70px;
      width: 100%;
    }
  
  }
  
  @media (min-width: 992px) {

    .header-text {
      margin-left: 100px;
      width: 33%;
      margin-top: 259px;
      z-index: 1;
    }
    .gradient-rectangle {
      position: absolute;
      background: transparent linear-gradient(90deg, #000000 0%, #00000000 100%)
        0% 0% no-repeat padding-box;
      z-index: -1;
      top: 0;
      width: 50%;
      height: 670px;
    }
  }
  
  @media (min-width: 1200px) {
    .grid-container {
      display: grid;
      grid-template-columns: 100px repeat(4, 1fr) 100px;
      width: 100%;
    }
  
  }
  
  @media (min-width: 1400px) {
    .grid-videos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      column-gap: 65px;
      row-gap: 60px;
    }
  }
  