$golden_color: #c29824;
.navbar {

    position: fixed;
    width: 100%;
    top: 0;
    height: 129px;
    z-index: 1000;
    background: transparent linear-gradient(180deg, #000000 0%, #00000000 100%) 0%
      0% no-repeat padding-box;
      padding: 0;
      align-items: baseline;
  }
  
  .logo {
    grid-column: 2 / 3;
    text-align: justify;
  }
  img {
    width: 120px;
  }
  .nav-buttons {
    grid-column: 3 / 6;
    align-self: center;
    justify-self: right;
  }
  
  .nav-icon {
    padding: 0px 0px;
    margin: 0 0 0 30px;
    margin-top: 2px;
    &:hover{
      cursor: pointer;
    }
  }
  
  .nav-icon-first {
    padding-left:7px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 15px;
  
    font-family: Gibson_Light;
    font-weight: 100;
    line-height: 21px;
    text-align: right;
    letter-spacing: 1.95px;
    color: #ffffff;
  }
  
  ul > :last-child svg {
    margin-right: 0px;
  }
  
  li {
    float: left;
    a{
        display: block;
    color: white;
    /* margin: 0px 44px; */
    text-decoration: none;
    }
    svg {
    display: block;
    color: white;
    margin: 0px 0px;
    text-decoration: none;
  }
  }
  
  .position-none{
    top: -450px;
  }
  .position-show{
    top: -100px;
  }

  li a:hover {
    display: block;
    color: $golden_color;
    text-decoration: none;
  }

  span:hover svg path {
    fill: $golden_color;
  }
  .nav-buttons ul li {
    display: none;
  }
  .burger {

    width: 30px;
    opacity: 0.7;

  }
  
  .grid-nav-container {
    display: grid;
    grid-template-columns: 30px repeat(4, auto) 30px;
    width: 100%;
    margin-top: 36.2px;
  }
  

  .nav-container {
    width: 100%;
  }
  .nav-container ul li {
    background-color: rgba(40, 40, 40, 0.8);
    color: #ffffff;
    border: 1px solid black;
    text-align: left;
    font-size: 19px;
    padding: 0.7rem 30px;
  
  }
  .fal{
    font-size: 44px;
  }

 
  
  @media (min-width: 576px) {
    .grid-nav-container {
      display: grid;
      grid-template-columns: 50px repeat(4, auto) 50px;
      width: 100%;
    }
    .nav-container ul li {
      padding: 0.7rem 50px;
    }
  }
  
  @media (min-width: 768px) {
    .grid-nav-container {
      display: grid;
      grid-template-columns: 70px repeat(4, auto) 70px;
      width: 100%;
    }
    .nav-container ul li {
      padding: 0.7rem 70px;
    }
    .burger {
      width: 35px;
    }
    .fal{
      font-size: 50px;
    }
  }
  
  /*  ispod 992 burger menu  */
  @media (min-width: 992px) {
    li a {
      display: block;
      color: white;
      margin: 0px 10px;
      text-decoration: none;
    }
    .nav-buttons ul li {
      display: list-item;
    }
    .burger {
      display: none !important;
    }
    img {
      width: auto;
    }
  }
  
  @media (min-width: 1200px) {
    .grid-nav-container {
      display: grid;
      grid-template-columns: 100px repeat(4, auto) 100px;
      width: 100%;
    }
  
    li a {
      display: block;
      color: white;
      margin: 0px 25px;
      text-decoration: none;
    }
    .nav-container ul li {
      padding: 0.7rem 100px;
    }
  }
  
  @media (min-width: 1400px) {
    li a {
      display: block;
      color: white;
      margin: 0px 43px;
      text-decoration: none;
    }
  }
  
  @media (min-width: 992px) {
    .nav-container {
      display: none;
    }
  }
  