
p {
    margin: 0;
  }
  :host{
      text-align: center;
  }
  .relative {
    position: relative;
    background-color: #101010;
  }
  header {
    height: 301px;
  }
  .header-background {
    position: absolute;
    background: url("/assets/images/Kim-Foster-V1.2.00_09_16_08.Still001-e1626728420308.png");
    width: 100%;
    height: 400px;
    top: 0;
    z-index: -2;
    background-size: cover;
    background-position: center;
  }

  .grid-container-middle {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    width: 100%;
  
  }
  
  .grid-middle {
    grid-column: 2/3;
    z-index: 10;
    margin: 0 50px;
  }
  article :first-of-type img {
    width: 100%;
    margin-bottom: 50px;

  }
  .flex-container {
    display: flex;
    column-gap: 92px;
    flex-direction: column;
    margin-top: 130px;
    row-gap: 50px;
  }
  .flex-container .text-container {
    flex-grow: 1;
    text-align: left;
  }
  .flex-container .img-container {
    flex-grow: 1;
    max-width: 640px;
  }
  .image-container
  {
      margin-top: 7px;
  }
  .img-container img {
    margin: 0 !important;
  }
  .flex-container .text-container h3 {
    font-size: 41px;
    margin-bottom: 2px;
  }
  .play-video {
    position: absolute;
    fill: white;
    z-index: 2;
    pointer-events: none;
  }
  
  .img-container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    place-self: baseline;
  }
  
  .img-container :hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
    cursor: pointer;
  }
  .card-img-top:hover + svg {
    background-color: #c29824;
    border-radius: 100%;
  }
  .text-flex {
    font-size: 21px;
    display: flex;
    flex-direction: column;
    row-gap: 11px;
    line-height: 1.4;
    letter-spacing: -0.1px;
  }
  
  .subscribe {
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-top: 30px;
    font-size: 18px;
    justify-content: end;
  }
  
  .subscribe-icon {
    width: 140px;
    height: 30px;
    background-color: #fa1a00;
    display: flex;
    align-items: center;
    border-radius: 2px;
    &:hover{
      cursor: pointer;
    }
  }
  .subscribe-icon svg {
    margin: 7px 6px 7px 6px;
  }
  #yt {
    text-align: left;
    letter-spacing: 0px;
    font-size: 16px;
    margin-right: 8px;
  }
  #subs {
    background-color: white;
    height: 100%;
    width: 38px;
    border-radius: 0 2px 2px 0;
    color: #737373;
  
    letter-spacing: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #subs p {
    font-family: sans-serif;
    font-size: 14px;
  }
  .player{
    display: none;
  }
  /* ****************************** MEDIA ************************************************* */

@media (min-width: 576px) {
    .grid-container {
      display: grid;
      grid-template-columns: 50px repeat(4, 1fr) 50px;
      width: 100%;
    }
    .podcast-card {
      display: inline-flex;
      align-items: center;
    }
   
  
  }
  
  @media (min-width: 768px) {
    .grid-container {
      display: grid;
      grid-template-columns: 70px repeat(4, 1fr) 70px;
      width: 100%;
    }
      .player{
      display: block;
    }
     .flex-container {
      margin-top: 0;
    }
  }
  
  @media (min-width: 992px) {
  }
  
  @media (min-width: 1200px) {
    .grid-container {
      display: grid;
      grid-template-columns: 100px repeat(4, 1fr) 100px;
      width: 100%;
    }
    .flex-container {
      width: 100%;
      display: flex;
      column-gap: 92px;
      flex-wrap: nowrap;
      flex-direction: row;
    }
    .flex-container .text-container {
      max-width: 640px;
    }
    .grid-container-podcast {
      display: grid;
      grid-template-columns: 40px repeat(2, 1fr) 40px;
      margin-bottom: 76px;
      column-gap: 1.5%;
    }
  
    .second {
      display: flex !important;
    }
  }
  
  @media (min-width: 1400px) {
    .grid-container-podcast {
      display: grid;
      grid-template-columns: 50px repeat(3, 1fr) 50px;
      margin-bottom: 76px;
      display: flex;
      align-items: baseline;
      column-gap: 1.5%;
    }
    .third {
      display: flex !important;
    }
  }
  