<header>
    <div class="header-background"></div>
</header>
<article class="grid-container-middle">
    <div class="grid-middle">
        <img class = "player" src="assets//images/Opera Snapshot_2022-01-09_212746_xd.adobe.com.png" />

        <section class="flex-container">

            <div class="text-container font-gibson-light">
                <p style="font-size: 21px;" class="text-white ">Episode 1 | 07.15.2021</p>
                <h3 class="font-bodega color-golden">Interview with Kim Foster</h3>
                <div class="text-flex text-white font-gibson-light">
                    <p>Today my guest is Kim Foster, a James Beard award-winning food essayist and two-time nominee. She
                        writes deep dive essays into food as it intersects with addiction, foster care, adoption,
                        poverty and mental illness.</p>
                    <p>Her notable pieces include The Meth Lunches published by NPR’s Desert Companion Magazine in 2017,
                        and The Dysfunction of Food, an essay about McDonalds and its significance in the foster care
                        community, published in 2019. Kim is currently working on a book about Vegas and it’s own
                        culinary dysfunctions, with St. Martin’s Press due out in Fall 2022.</p>
                    <p>She lives in Las Vegas with her husband, David, a Grammy-winning, and two-time Tony-nominated
                        circus and live entertainment producer, their kids, Lucy 16, Edie 14, Raffi 9 and Desi 5, a pug,
                        a pitbull, 3 cats and 24 chickens.</p>
                </div>
            </div>

            <div class="image-container">

                <div class="card-container">
                    <div name="video-thumbnail" class="img-container">
                        <img class="card-img-top" src="assets/images/Mask Group 31-640x360.png" />
                        <svg xmlns="http://www.w3.org/2000/svg" width="65" height="65" class="bi bi-play-circle play-video"
                        viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                        <path
                          d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z" />
                      </svg>
                    </div>

                </div>
                <div class="subscribe font-gibson-light text-white">
                    <p>Subscribe to my YouTube channel:</p>
                    <div class="subscribe-icon">

                        <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                            class="svg-inline--fa fa-youtube fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg"
                            viewBox="0 0 576 512" width="26" height="20">
                            <path fill="currentColor"
                                d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                            </path>
                        </svg>

                        <p id="yt">YouTube</p>
                        <div id="subs">
                            <p>2M</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>
   
</article>
<app-podcast-gallery class="gallery"></app-podcast-gallery>
<app-footer ></app-footer>

