
<div  class="modal-container text-center" id="modal-container">
    <div style="width: 41px"></div>
    <div class="form-container font-gibson-light">
      <img src="assets/images/ChefLuke-Logo.svg" />
      <div class="font-gibson-light text-white header-text">
        <p>
          {{text}}
        </p>
      </div>
      <input
        type="firstname"
        class="form-control text-white"
        aria-describedby="name"
        placeholder="FIRST NAME"
        tabindex="-1"
      />
      <input
        type="email"
        style="margin-bottom: 82.5px"
        class="form-control text-white"
        aria-describedby="email"
        placeholder="EMAIL ADDRESS"
        tabindex="-1"
      />
      <a class="button color-golden font-gibson-light" (click)="open('ty')" (click)="activeModal.close('submit')">SUBMIT</a>
      
      <p class="text-white font-gibson-light footer-modal">
        Your privacy is important. We will never share your email or
        information with anyone.
      </p>
    </div>
    <div class="close" (click)="activeModal.close('Close click')">
      <svg
        width="28px"
        height="28px"
        xmlns="http://www.w3.org/2000/svg"
        fill-rule="evenodd"
        clip-rule="evenodd"
      >
        <path
          d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"
        />
      </svg>
    </div>
  </div>