:host {
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-container {
  position: fixed;
  margin: auto;
  height: 100%;
  z-index: 1001;

  justify-content: center;
  display: flex;
  transition: all 300ms ease-in-out;
}

.header-text {
  font-size: 16px;
  letter-spacing: 0.43px;
  width: 100%;
  margin: 14px auto 39px auto;
  font-weight: 100;
  line-height: 1.6;
}
.form-container {
  width: 270px;
  margin-top: 30px;
}
.form-container img {
  width: 243px;
}
.form-container input {
  font-size: 18px;
  letter-spacing: 0px;
  border: solid #bebebe 1px;
  border-radius: 0;
  background-color: transparent;
  font-weight: 100;
  padding: 0.8rem 1.5rem;
  margin-bottom: 25px;
  line-height: 1.4;
}
.form-container input:focus {
  color: #212529;
  background-color: transparent;
  outline: 0;
  box-shadow: none;
  border-color: #bebebe;
}

.form-container a {
  font-size: 22px;
  letter-spacing: 0;
  margin-left: 12px;
  padding: 7px 53px;
}
.footer-modal {
  font-size: 15px;
  letter-spacing: 1.97px;
  max-width: 500px;
  margin: 66px auto auto auto;
  line-height: 1.5;
}

.close {
  text-decoration: none;
  margin: 143px 0 0 13px;
  height: fit-content;
}
.close:hover {
  cursor: pointer;
}
.close,
.close-2 path {
  fill: #ffffff;
}
.stop-scrolling {
  overflow: hidden;
}
::ng-deep {
  .modal.fade .modal-dialog {
    transition: transform 0s !important;
  }
}
@media (min-width: 576px) {
  .form-container a {
    padding: 14px 80px;
  }
  .form-container {
    width: 500px;
  }
  .header-text {
    width: 75%;
    font-size: 21px;
  }
  .form-container input {
    font-size: 21px;
    margin-bottom: 34px;
    line-height: 1.7;
  }
 
}
@media (min-width: 686px) {
  .form-container {
    width: 600px;
 
    width: 255px;
    margin-top: 88px;
  }
 .form-container a {
    padding: 14px 109px;
  }
}

@media (min-width: 992px) {
  .form-container {
    width: 761px;
  }
}

@media (min-width: 1200px) {
}

@media (min-width: 1400px) {
}
