<header class="grid-container ">
    <div class="header-background"></div>
    <div class="gradient-rectangle"></div>

    <div class="header-text grid-center">
        <h1 class="color-golden font-bodega">
            The Future of Hospitality Podcast
        </h1>
        <p class="font-gibson-light text-white" style="line-height: 1;">
            “Rethinking the Hospitality Industry”
        </p>
        <p class="font-gibson-light text-white">
            Every week, I have the opportunity to learn from key players in the
            hospitality arena. My guests are chefs, restaurateurs, food writers,
            food critics, and other personas, discussing their accomplishments,
            failures, lessons they’ve learned, and their businesses. My goal is to
            deconstruct these Top/World Class Hospitality Performers, digging deep
            to find the tools, habits, tactics, and tricks listeners can use. This
            is from the industry for the industry.
        </p>
    </div>

</header>
<section id="section-c " class="grid-container text-center">

    <div class="grid-center section-b-heading" style="padding-top: 88px">
        <p class="font-gibson-light">Podcast</p>
        <div class="heading-container heading-container-b">
            <div class="strikethrough"></div>
            <div class="heading-gallery font-bodega color-golden">
                EPISODES
            </div>
            <div class="strikethrough"></div>
        </div>
    </div>


    <div class="grid-center">
        <div id="video-thumbnails" class="grid-center grid-videos">
            <!--  -->
            <div *ngFor='let podcast of podcasts'>
                <app-podcast-block class="podcast-card" 
                    [Podcast_ID]="podcast.PodcastID"
                    [Podcast_Title]="podcast.PodcastTitle"
                    [Podcast_Date]="podcast.PodcastDate"
                    [Podcast_ImgUrl]="podcast.PodcastImgUrl2" 
                    [Podcast_Content]="podcast.PodcastContent2">

                </app-podcast-block>
            </div>



            <!--  -->


        </div>
    </div>


</section>
<app-footer [imgURL]="podcast_footer_img"></app-footer>