header {
  min-height: 670px;
}

.header-background {
  position: absolute;
  background: url("../../assets/images/podcast_header.jpg");
  width: 100%;
  min-height: 670px;
  top: 0;
  z-index: -2;
  background-size: cover;
  background-position: center;
}

.gradient-rectangle {
  position: absolute;
  background: transparent linear-gradient(90deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
  z-index: -1;
  top: 0;
  width: 100%;
  height: 670px;
}
.grid-container {
  display: grid;
  grid-template-columns: 30px repeat(4, 1fr) 30px;
  width: 100%;

}
.grid-center {
  grid-column: 2 / 6;
}

.header-text h1 {
  text-align: left;
  letter-spacing: 0px;
  font-size: 72px;
  margin: 0 0 19px 0;
}



.section-b-heading p {
  letter-spacing: 0px;
  font-size: 25px;
  color: #ffffff;
  margin-bottom: -4px;
  padding-top: 4px;
}
.heading-gallery {
  letter-spacing: 0px;
  font-size: 70px;
}
.heading-container {
  display: flex;
  max-width: 303px;
  margin: auto;
  margin-bottom: 64px;
  line-height: 0.9;
  column-gap: 20px;
}
.heading-container-b {
  max-width: 314px;
  column-gap: 16.5px;
}

.grid-container-podcast {
  display: grid;
  grid-template-columns: 20px repeat(1, 1fr) 20px;
  margin-bottom: 64px;
  column-gap: 1.5%;
}

.header-text {
  width: 100%;
  margin-top: 100px;
  z-index: 1;
  font-size: 19px;
  h1{
    font-size: 40px;
  }
}
.header-text p:first-of-type {
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 0.4px;
  margin-bottom: 14px;
}
.header-text p {
  text-align: left;
  letter-spacing: -0.1px;
  font-size: 18px;
  line-height: 1.5;
}

@media (min-width: 576px) {
  .grid-container {
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr) 50px;
    width: 100%;
  }
  .heading-gallery {

    font-size: 80px;
  }
  .header-text {

    margin-top: 100px;
    z-index: 1;
    h1{
      font-size: 72px;
    }
    p{
      font-size: 24px;
    }
  }
  .header-text p:first-of-type {
    font-size: 30px;

  }
  .header-text p {
  
    font-size: 24px;
   
  }
  

}
@media (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 70px repeat(4, 1fr) 70px;
    width: 100%;
  }
}
@media (min-width: 992px) {
  .gradient-rectangle {
    position: absolute;
    background: transparent linear-gradient(90deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 670px;
  }
}
@media (min-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr) 100px;
    width: 100%;
  }
}
@media (min-width: 1400px) {
  .grid-videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 65px;
    row-gap: 60px;
  }

}

@media(min-width: 1650px)
{
    .header-text {
    margin-left: 100px;
    width: 38%;
    margin-top: 181px;
    z-index: 1;
  }
}