p {
  margin: 0;
  font-family: Gibson_Light;
}
header {
  height: 540px;
}
.relative {
  position: relative;
  background-color: #101010;
}
.center-align {
  align-self: center;
}

.header-background {
  position: absolute;
  background: url("./../../assets/images/Polpette\ v24.png");
  width: 100%;
  height: 670px;
  top: 0;
  z-index: -2;
  background-size: cover;
  background-position: center;
}

.gradient-rectangle {
  position: absolute;
  background: transparent linear-gradient(0deg, #000000 0%, #00000000 100%) 0% 0% no-repeat padding-box;
  z-index: -1;
  top: 335px;
  width: 100%;
  height: 335px;
}

.grid-container-middle {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  width: 100%;
  margin-top: 129px;
}

.grid-middle {
  grid-column: 2/3;
  z-index: 10;
  margin: 0 30px;
}

.grid-container {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-columns: 30px repeat(4, 1fr) 30px;
  width: 100%;
}

article h1 {
  font-size: 60px;
  letter-spacing: 0px;
  margin: 0;
  padding: 0;
  line-height: 1.1;
  margin-bottom: 30px;
}

.video-thumbnail {
  display: flex;
  box-shadow: 0px 24px 48px #000000;
  border: 1px solid #c29824;
  width: fit-content;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  overflow: hidden;
  position: relative;
}

.video-thumbnail svg {
  position: absolute;
  font-size: 71px;
  pointer-events: none;
}

.video-thumbnail :hover {
  transform: scale(1.1);
  transition: 0.3s ease-out;
  cursor: pointer;
}

.img:hover + svg {
  background-color: #c29824;
  border-radius: 50%;
}

.section-1 {
  padding-bottom: 30px;
}

.section-1 p {
  text-align: left;
  letter-spacing: 0px;
  font-size: 21px;
  line-height: 1.3;
}

.subscribe {
  display: flex;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 30px;
  font-size: 18px;
}

.subscribe-icon {
  width: 140px;
  height: 30px;
  background-color: #fa1a00;
  display: flex;
  align-items: center;
  border-radius: 2px;
  &:hover{
    cursor: pointer;
  }
}
.subscribe-icon svg {
  margin: 7px 6px 7px 6px;
}
#yt {
  text-align: left;
  letter-spacing: 0px;
  font-size: 16px;
  margin-right: 8px;
}
#subs {
  background-color: white;
  height: 100%;
  width: 38px;
  border-radius: 0 2px 2px 0;
  color: #737373;

  letter-spacing: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#subs p {
  font-family: sans-serif;
  font-size: 14px;
}
.section-2 {
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 30px;
  text-align: left;
  margin-bottom: 60px;
  column-gap: 27px;
}
.section-2 h2,
.section-3 h2 {
  font-size: 36px;
  letter-spacing: 0px;
  grid-column: span 2;
  margin: 0;
}
.section-2 li {
  font-size: 17px;
  list-style: none;
}
.section2-img {
  margin-bottom: 60px;
}
.section3-img {
  margin-bottom: 60px;
}
.section-2 li::before {
  content: "\2022";
  color: #c29824;
  display: inline-block;
  width: 20px;
}
.section-3 {
  display: grid;
  row-gap: 30px;
  text-align: left;
  margin-bottom: 60px;
}
.section-3 li {
  font-size: 21px;
  list-style: none;
  grid-column: span 2;
  counter-increment: li;
  display: flex;
}
.section-3 li::before {
  content: counter(li) ". ";
  color: #c29824;
  display: inline-block;
  width: 20px;
  margin-right: 15px;
}
.note {
  text-align: left;
  letter-spacing: 0px;
  font-size: 18px;
  margin-left: 35px;
  grid-column: span 2;
}

.separator {
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 0.25;
  height: 3px;
  margin: 40px 0 40px 0;
  border-radius: 1px;
}
.heading-container {
  display: flex;
  margin: auto;

  line-height: 0.9;
  justify-content: center;
  column-gap: 12px;
  grid-column: 1/4;
}

.strikethrough {
  width: 56px;
  height: 3px;
  background-color: #ffffff;
  opacity: 0.25;
  margin: auto 0px;
  border-radius: 1px;
}
.heading-gallery {
  letter-spacing: 0px;
  font-size: 55px;
}
.wide-grid-container {
  display: grid;
  grid-template-columns: 30px 40px 1fr 40px 30px;
  width: 100%;
  margin-bottom: 100px;
}
.wide-grid {
  grid-column: 1/6;
  z-index: 10;
}
article img,
section {
  width: 100%;
  max-width: 800px;
}

.chevron-left,
.chevron-right {
  height: fit-content;
  margin: auto;
  font-size: 40px;
  background: padding-box;
  text-decoration: none;
  color: #ffffff;
  &:hover{
    cursor: pointer;
  }
}
.chevron-left {
  float: left;
}

.chevron-right {
  float: right;
}
.flex-container {
  display: flex;
  column-gap: 48px;
}
.flex-element {
  width: 100%;
}
.card-container {
  width: 394px;
}

.card-2,
.card-3 {
  display: none;
}
.second,
.third{
  display: none;
}

/* ---------------------------------------------------MEDIA---------------------------------------------------------------- */

@media (min-width: 576px) {
  .grid-container {
    position: absolute;
    top: 0;
    display: grid;
    grid-template-columns: 50px repeat(4, 1fr) 50px;
    width: 100%;
  }
  .wide-grid-container {
    display: grid;
    grid-template-columns: 50px 50px 1fr 50px 50px;
    width: 100%;
    margin-bottom: 100px;
  }
  .logo {
    display: block;
    grid-column: 2 / 3;
    text-align: justify;
  }

  .separator {
   
    margin: 40px 0 80px 0;

  }
}

@media (min-width: 768px) {
  .grid-container {
    display: grid;
    position: absolute;
    top: 0;
    grid-template-columns: 70px repeat(4, 1fr) 70px;
    width: 100%;
  }
  .wide-grid-container {
    display: grid;
    grid-template-columns: 100px 81px 1fr 81px 100px;
    width: 100%;
    margin-bottom: 100px;
  }
  .card-2 {
    display: block;
  }
  .section-2 li {
    font-size: 21px;
    list-style: none;
  }
  .wide-grid {
    grid-column: 3/4;
 
  }
  .heading-gallery {

    font-size: 80px;
  }
  .heading-container {
    display: flex;
    margin: auto;
    margin-bottom: 60px;
    line-height: 0.9;
    justify-content: center;
    column-gap: 12px;
    grid-column: 1/4;
  }
  
}

@media (min-width: 992px) {
  .wide-grid-container {
    display: grid;
    grid-template-columns: 120px 81px 1fr 81px 120px;
    width: 100%;
    margin-bottom: 100px;
  }
  .second{
    display: flex!important;
  }
  .flex-element {
    width: 50%;
  }
  article h1 {
    font-size: 72px;
  }
}

@media (min-width: 1200px) {
  .grid-container {
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr) 100px;
    width: 100%;
    position: absolute;
    top: 0;
  }
  .wide-grid-container {
    display: grid;
    grid-template-columns: 150px 81px 1fr 81px 150px;
    width: 100%;
    margin-bottom: 100px;
  }
  .card-3 {
    display: block;
  }
}

@media (min-width: 1400px) {
  .wide-grid-container {
    display: grid;
    grid-template-columns: 240px 81px 1fr 81px 240px;
    width: 100%;
    margin-bottom: 100px;
  }
  .third{
    display: flex!important;
  }
  .flex-element {
    width: 33.333%;
  }
}
