<header class="grid-container">
    <div class="header-background"></div>
    <div class="gradient-rectangle"></div>
</header>
<article class="grid-container-middle">
    <div class="grid-middle">
        <h1 class="color-golden font-bodega">{{title}}</h1>

        <div class="video-thumbnail">
            <img class="img" src="assets/images/Mask Group 30.png" />
            <svg xmlns="http://www.w3.org/2000/svg" width="71" height="71" fill="currentColor"
                class="bi bi-play-circle text-white" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
                <path
                    d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z" />
            </svg>

        </div>

        <section class="section-1 text-white">
            <div class="subscribe font-gibson-light">
                <p>Subscribe to my YouTube channel:</p>
                <div class="subscribe-icon">
                    <svg aria-hidden="true" focusable="false" data-prefix="fab" data-icon="youtube"
                        class="svg-inline--fa fa-youtube fa-w-18" role="img" xmlns="http://www.w3.org/2000/svg"
                        viewBox="0 0 576 512" width="26" height="20">
                        <path fill="currentColor"
                            d="M549.655 124.083c-6.281-23.65-24.787-42.276-48.284-48.597C458.781 64 288 64 288 64S117.22 64 74.629 75.486c-23.497 6.322-42.003 24.947-48.284 48.597-11.412 42.867-11.412 132.305-11.412 132.305s0 89.438 11.412 132.305c6.281 23.65 24.787 41.5 48.284 47.821C117.22 448 288 448 288 448s170.78 0 213.371-11.486c23.497-6.321 42.003-24.171 48.284-47.821 11.412-42.867 11.412-132.305 11.412-132.305s0-89.438-11.412-132.305zm-317.51 213.508V175.185l142.739 81.205-142.739 81.201z">
                        </path>
                    </svg>
                    <p id="yt">YouTube</p>
                    <div id="subs">
                        <p>2M</p>
                    </div>
                </div>
            </div>
            <p>
                {{description}}
            </p>
        </section>
        <section class="section-2 text-white font-gibson-light">
            <h2 class="color-golden font-bodega">Ingredients</h2>
            <li>1 pound ground pork</li>
            <li>4 cups, stale bread, diced</li>
            <li>1 pound ground beef</li>
            <li>1 cup milk</li>
            <li>1 pound ground veal</li>
            <li>1 egg</li>
            <li>1 pound mild Italian sausage</li>
            <li>½ cup Parmigiano, grated</li>
            <li>1 onion, minced</li>
            <li>½ cup Pecorino, grated</li>
            <li>2 tablespoons garlic, minced</li>
            <li>½ cup Italian parsley, chopped</li>
        </section>
        <div class="section2-img">
            <img class="section2-img" src="assets//images/Polpette v6.png" />
        </div>
        <section class="section-3 text-white font-gibson-light">
            <h2 class="color-golden font-bodega">Method</h2>
            <li>
                <p>Sweat onions and garlic in olive oil without color, and cool.</p>
            </li>
            <li>
                <p>Place stale bread in 250f oven for 30 min. Completely cool.</p>
            </li>
            <li>
                <p>
                    Spread plastic wrap in several shingled layers on work counter.
                </p>
            </li>
            <li>
                <p>
                    Place cool bread pieces into a bowl and pour milk over, coating
                    thoroughly all over bread. Let stand 10 minutes.
                </p>
            </li>
            <li>
                <p>Completely squeeze milk out of bread.</p>
            </li>
            <li>
                <p>
                    Place all ground meats, cooled onions & garlic, soaked and drained
                    bread, cheeses, parsley, salt and freshly ground pepper on the
                    plastic wrap lined counter.
                </p>
            </li>
            <li>
                <p>
                    Wearing gloves, start to combine mixture like you are rolling
                    bread dough, forward and back, and folding onto itself until well
                    combined.
                </p>
            </li>
            <li>
                <p>
                    Make a tester piece, and cook in a frying pan. Taste for seasoning
                    and cheese. If you prefer more, add it.
                </p>
            </li>
            <li>
                <p>Form into balls and cook in a pan, or roast in an oven.</p>
            </li>
            <p class="note">
                **If making with tomato sauce, pan fry or roast polpette, cover with
                sauce and cook 30 minutes. Serve with favorite pasta shape**
            </p>
        </section>
        <div class="section3-img">
            <img src="assets//images/Polpette v25.png" />
        </div>
    </div>
</article>

<article class="wide-grid-container">
    <div class="wide-grid">
        <div class="separator"></div>
        <div class="heading-container">
            <div class="strikethrough"></div>
            <div class="heading-gallery font-bodega color-golden">
                RELATED VIDEOS
            </div>
            <div class="strikethrough"></div>
        </div>
    </div>
</article>
   
<article class="wide-grid-container">
    <div  (click)="shiftLeft()" class="center-align" style="grid-column: 2">
        <i class="fal fa-chevron-left chevron-left"></i>
    </div>

    <div class="flex-container">

        <div *ngFor='let video of videos.slice(0,3); let i = index'  [ngClass]="[i == 1 ? 'second': '',i == 2 ? 'third': '']"    class="flex-element">
            <app-video-card   
                [videoId]="video.videoId" 
                [videoTitle] = "video.videoTitle"
                [videoDescription] = "video.videoDescription"
                [videoUrl] = "video.videoImgUrl">
            </app-video-card>
        </div>

    </div>

    <div (click)="shiftRight()" class="center-align" style="grid-column: 4">
        <i class="fal fa-chevron-right chevron-right"></i>
    </div>
</article>
<app-footer ></app-footer>