.card-text {
    margin-bottom: 11px;
}
.card-title {
    text-align: left;
    letter-spacing: 0px;
    font-size: 41px;
    margin-bottom: 0px;
}
.card-container p {
    font-size: 21px;
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    line-height: 1.4;
    letter-spacing: -0.1px;
    margin-top: 1px;
}

.learn-more-btn {
    text-decoration: none;
    float: left;
    font-size: 15px;
    letter-spacing: 1.3px;

}

.play-video {
    position: absolute;
    font-size: 40px;
    z-index: 2;
    pointer-events: none;
    fill: #ffffff;
}

.img-container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    place-self: baseline;
}
.img-container :hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
    cursor: pointer;
}
.card-body {
    padding: 15px 10px 25px 10px !important;
}

.card-img-top:hover + svg {
    background-color: #c29824;
    border-radius: 50%;
}
.color-golden {
    color: #c29824;
}
.share-btn {
    color: #797979;
    font-size: 21px;
    padding: 0px 18px;
}
.play-video {
    background-color: rgb(0, 0, 0, 0.4);
    border-radius: 50%;
}

@media(min-width: 576px){
    .card-body {
        padding: 20px 20px 0 20px !important;
    }
}