<div class="card-container font-gibson-light" id={{videoId}}>
  <div class="img-container" [routerLink] = "['/chef_life_video/',videoId]" >
    <img class="card-img-top" [src]="videoUrl" />
    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="bi bi-play-circle play-video"
      viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z" />
      <path
        d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z" />
    </svg>
  </div>

  <div class="card-body text-start">
    <h5 class="card-title color-golden font-bodega">
      {{videoTitle}}
    </h5>
    <p class="card-text font-gibson-light">
      {{videoDescription}}
    </p>
    <a  class="learn-more-btn color-golden" [routerLink] = "['/chef_life_video/',videoId]">LEARN MORE</a><i class="fa fa-share-alt share-btn"></i>
  </div>
</div>
