:host {
  width: 100%;
  display: flex;
  justify-content: center;
}
.modal-container {
  position: fixed;

  height: 100%;
  z-index: 1001;

  justify-content: center;
  display: flex;
  transition: all 300ms ease-in-out;
  text-align: center;
}

.header-text {
  font-size: 21px;
  letter-spacing: 0.43px;
  width: 75%;
  margin: 14px auto 39px auto;
  font-weight: 100;
  line-height: 1.6;
}

.form-container img {
  width: 243px;
}
.form-container input {
  font-size: 21px;
  letter-spacing: 0px;
  border: solid #bebebe 1px;
  border-radius: 0;
  background-color: transparent;
  font-weight: 100;
  padding: 0.8rem 1.5rem;
  margin-bottom: 34px;
  line-height: 1.7;
}
.form-container input:focus {
  color: #212529;
  background-color: transparent;
  outline: 0;
  box-shadow: none;
  border-color: #bebebe;
}
.form-container a {
  font-size: 26px;
  letter-spacing: 0;
  margin-left: 12px;
  padding: 14px 109px;
}
.footer-modal {
  font-size: 15px;
  letter-spacing: 1.97px;
  max-width: 500px;
  margin: 70px auto auto auto;
  line-height: 1.5;
}

.close {
  text-decoration: none;
  margin: 115px 0 0 13px;
  height: fit-content;
}
.close:hover {
  cursor: pointer;
}
.close,
.close-2 path {
  fill: #ffffff;
}
.stop-scrolling {
  overflow: hidden;
}
.close-2 {
  text-decoration: none;
  margin: 115px 0 0 14px;
  height: fit-content;
  margin: 115px 95px 0 -65px;
}
.close-2:hover {
  cursor: pointer;
}
.modal-2-text {
  max-width: 761px;
  font-size: 20.83px;
}
.modal-2-text {
  margin-top: 16px;
  letter-spacing: 0.5px;
  line-height: 1.58;
  overflow: hidden;
  margin-inline: 15px;
}
.form-container {
  width: 350px;
  margin-top: 169px;
}
@media (min-width: 768px) {
  .form-container {
    width: 500px;
    margin-top: 324px;
  }
  .close-2 {
    margin: 115px 0 0 14px;
  }
  .modal-2-text {
    margin-right: 35px;
  }
}
