<div class="modal-container" id="modal-2-container">
    <div style="width: 58px"></div>
    <div  class="form-container">
      <img src="assets/images/ChefLuke-Logo.svg" />

   
      <p class="text-white font-gibson-light modal-2-text">
      {{text}}
      <br/>
      {{message}}     
      </p>
    </div>
    <div class="close-2" aria-label="Close" (click)="activeModal.close('Close click')">
      <svg
        width="28px"
        height="28px"
        xmlns="http://www.w3.org/2000/svg"
        fill-rule="evenodd"
        clip-rule="evenodd"
      >
        <path
          d="M12 11.293l10.293-10.293.707.707-10.293 10.293 10.293 10.293-.707.707-10.293-10.293-10.293 10.293-.707-.707 10.293-10.293-10.293-10.293.707-.707 10.293 10.293z"
        />
      </svg>
    </div>
  </div>