.card-title {
    text-align: left;
    letter-spacing: 0px;
    font-size: 41px;
    margin-bottom: 2px;
  }
  .card-body p:first-of-type {
    margin-bottom: 1px;
    line-height: 1.6;
  
  }
  .card-container p {
    font-size: 21px;
    text-align: left;
    letter-spacing: -0.1px;
    color: #ffffff;
    line-height: 1.38;
  }
  
  .card-body {
    padding: 10px 10px 25px 10px !important;
  }
  
  .learn-more-btn {
    text-decoration: none;
    float: left;
    font-size: 15px;
    letter-spacing: 2px;
    &:hover{
      color: #c29824;
    }
  }
  
  .play-video {
    position: absolute;
    font-size: 47px;
    z-index: 2;
    pointer-events: none;
    fill: #ffffff;
  }
  
  .img-container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    place-self: baseline;
  }
  
  .img-container :hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
    cursor: pointer;
  }
  
  .card-img-top:hover + svg {
    background-color: #c29824;
    border-radius: 50%;
  }
  
  .card-body p {
    margin-bottom: 12px;
  }
  .share-btn {
    color: #797979;
    font-size: 18px;
    padding: 0px 18px;
}

@media (min-width: 1400px) {
   
  .card-body {
    padding: 11px 20px 0 20px !important;
  }
}