

<div class="header-bg">
    <section class="main-text">
        <div class="heading-text">
            <h1 class="color-golden font-bodega">Cook Like a Pro</h1>
            <p class="text-1-header font-gibson-light">
                BECOME THE MASTER CHEF IN YOUR KITCHEN
            </p>
        </div>
        <div class="divider-golden"></div>
        <p class="text-2-header font-gibson-light">
            Build your cooking skills in your kitchen
        </p>
        <a class="button button-header-p color-golden font-gibson-light" (click)="open('freePlaybook')">GET MY FREE PLAYBOOK</a>
    </section>
    <div class="divider"></div>

    <i class="fal fa-chevron-down chevron-down text-white" (click)="scrollToSection()"></i>


    <app-video-gallery></app-video-gallery>
    <app-podcast-gallery></app-podcast-gallery>
    <app-footer [imgURL]="index_footer_img"></app-footer>


</div>