.header-bg {
  background: transparent url("../../assets/images/Group\ 415.png") 0% 0% no-repeat padding-box;
  position: absolute;
  width: 100%;
  height: 2278px;
  text-align: center;
  background-position: top;
}

.grid-container {
  display: grid;
  grid-template-columns: 30px repeat(4, 1fr) 30px;
  width: 100%;
  margin-bottom: 75px;
}
.bg-ttransparent {
  background-color: transparent !important;
  color: aqua;
}

.main-text {
  text-align: -webkit-center;
  position: relative;
  margin-top: 170px;
  margin-left: auto;
  margin-right: auto;
  max-width: 451px;
}
.heading-text h1 {
  letter-spacing: 0px;
  font-size: 90px;
  margin: 0;
  font-weight: lighter;
}

.heading-text {
  text-align: center;
  letter-spacing: 0px;
}

.text-1 {
  text-align: center;
  letter-spacing: 0.7px;
  color: #ffffff;
  padding: 0px 20px;
  font-size: 24px;
  margin: 0px;
  margin-top: -6px;
  line-height: 1.17;
}

.divider-golden {
  background: #c29824 0% 0% no-repeat padding-box;
  border-radius: 1px;
  margin-top: 30px;
  margin-bottom: 23px;
  height: 3px;
  max-width: 140px;
  align-self: center;
}

.text-2 {
  color: #ffffff;
  padding: 0;
  font-size: 22px;
  letter-spacing: 0.5px;
  margin: 0px;
  margin-bottom: 34px;
}
.button-header-p {
  padding: 11px 38px;
}

.divider {
  height: 60px;
  margin-top: 200px;
}
.chevron-down {
  font-size: 44px;
  text-decoration: none;
  margin-top: -12px;
  &:hover {
    cursor: pointer;
  }
}
.button{
  font-size: 18px;
}
@media (min-width: 768px) {
  .header-bg {
    background: transparent url("/assets/images/index_header_bg.png") 0% 0% no-repeat padding-box;
  }
  .main-text {
    margin-top: 480px;
  }
  .divider {

    margin-top: 500px;
  }
}
@media (min-width: 1400px) {
  .main-text {
    position: absolute;
    margin-top: 328px;
    width: 451px;
    right: 380px;
    padding: 0px;
    text-align: -webkit-center;
  }
  .button{
    font-size: 21px;
  }
  .heading-text h1 {
    letter-spacing: 0px;
    font-size: 138px;
    margin: 0;
    font-weight: lighter;
  }

  .text-1-header {
    letter-spacing: 0.7px;
    color: #ffffff;
    padding: 0px 20px;
    font-size: 30px;
    margin: 0px;
    font-weight: 1.17;
    margin-top: -7px;
  }

  .text-2-header {
    color: #ffffff;
    padding: 0;
    font-size: 24px;
    letter-spacing: 0.5px;
    margin: 0px;
    margin-bottom: 34px;
  }
}

@media (min-width: 1400px) {
  .divider {
    height: 60px;
    margin-top: 909px;
  }
}
