<section id="section-b"  >
    <div class="section-b-heading">
        <p class="font-gibson-light">Chef Life Video</p>
        <div class="heading-container">
            <div class="strikethrough"></div>
            <div class="heading-gallery font-bodega color-golden">GALLERY</div>
            <div class="strikethrough"></div>
        </div>
    </div>


    <div class="grid-container">
        <div class="grid-center grid-videos">
            <div *ngFor='let video of videos; let i = index'>
                <app-video-card *ngIf = "i < 8" 
                    [videoId]="video.videoId" 
                    [videoTitle] = "video.videoTitle"
                    [videoDescription] = "video.videoDescription"
                    [videoUrl] = "video.videoImgUrl">
                </app-video-card>
            </div>

        </div>
    </div>
    <a
    class="button color-golden font-gibson-light"
    href=""
    style="padding: 12px 60px" [routerLink] = "['/chef_life']"
    >MORE VIDEOS</a>

</section>