.grid-container {
    display: grid;
    grid-template-columns: 30px repeat(4, 1fr) 30px;
    width: 100%;
    margin-bottom: 68px;
}

.section-b-heading p {
    letter-spacing: 0px;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: -4px;
    padding-top: 4px;
}
.heading-gallery {
    letter-spacing: 0px;
    font-size: 75px;
}
.section-b-heading {
    margin-top: 181px;
    text-align: center;
}
.grid-center {
    grid-column: 2 / 6;
  }
.heading-container {
    display: flex;
    max-width: 303px;
    margin: auto;
    margin-bottom: 64px;
    line-height: 0.9;
    column-gap: 20px;
}
.heading-container-b {
    max-width: 314px;
    column-gap: 16.5px;
}

.card-text {
    margin-bottom: 14px;
}
.card-title {
    text-align: left;
    letter-spacing: 0px;
    font-size: 41px;
    margin-bottom: 0px;
}
.card-container p {
    font-size: 21px;
    text-align: left;
    letter-spacing: 0px;
    color: #ffffff;
    line-height: 1.4;
    letter-spacing: -0.1px;
    margin-top: 1px;
}

.learn-more-btn {
    text-decoration: none;
    float: left;
    font-size: 15px;
    letter-spacing: 1.7px;
}

.play-video {
    position: absolute;
    font-size: 40px;
    z-index: 2;
    pointer-events: none;
    fill: #ffffff;
}

.img-container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    place-self: baseline;
}
.img-container :hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
    cursor: pointer;
}
.card-img-top:hover + svg {
    background-color: #c29824;
    border-radius: 50%;
}
.color-golden {
    color: #c29824;
  }
  .share-btn {
    color: #797979;
    font-size: 18px;
    padding: 0px 18px;
  }
  .play-video {
    
    background-color: rgb(0,0,0, .4);
    border-radius: 50%;
  }


  

@media (min-width: 576px) {
    .grid-container {
        display: grid;
        grid-template-columns: 50px repeat(4, 1fr) 50px;
        width: 100%;
    }
    .heading-gallery {
  
        font-size: 80px;
    }
}
@media (min-width: 768px) {
    .grid-videos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3.7%;
        row-gap: 58px;
    }
    .grid-container {

        grid-template-columns: 70px repeat(4, 1fr) 70px;

    }
}

@media (min-width: 1200px) {
    .grid-container {

        grid-template-columns: 100px repeat(4, 1fr) 100px;

    }
    .grid-videos {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2%;
        row-gap: 58px;
    }
}
@media (min-width: 1400px) {
    .grid-videos {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 48px;
        row-gap: 56px;
    }
}
