:host{
  flex-grow: 1;
 position: relative;
  padding-top: 100px;
  background-color: rgba(0, 0, 0, 0.86);
  z-index: -1;
  top: -100px;
}


  .nav-container {
    width: 100%;
  }
  .nav-container ul li {
  
    color: #ffffff;
    background-color: transparent;
    text-align: center;
    font-size: 20px;
    padding: 0.7rem 30px;
    
  }
  .list-group-item{
    font-size: 23px;
    border-bottom: 1px solid  rgb(194, 152 , 36, 0.6);
 
    a{
      text-decoration: none;
      color: #ffffff;
    }
  }
  span{
    margin: 0px 12px 0px 12px;
  }
