/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";

body{
    margin: 0;
    background-color: black;
    font-family: 'canada-type-gibson'!important;
    color: #ffffff;
}
$golden_color: #c29824;
@font-face {
    font-family: Bodega_Sans_Light;
    src: url(/assets/fonts/bodegasans-light.ttf);
  }
  
  @font-face {
    font-family: Gibson_Light;
    src: url(/assets/fonts/Gibson\ W04\ Light.ttf);
  }
  
  @font-face {
    font-family: santana;
    src: url(/assets/fonts/LibreFranklin-Thin.ttf);
  }
  h1 h2 h3 h4 h5 {
    line-height: 1;
  }
  .font-gibson-light {
    font-family: Gibson_Light;
  }
  .font-bodega {
    font-family: Bodega_Sans_Light;
  }
  .font-santana {
    font-family: santana;
  }
  .color-golden {
    color: $golden_color;
  }
  .button {
    font-size: 21px;
    background: #00000080 0% 0% no-repeat padding-box;
    border: 2px solid #c29824;
    text-decoration: none;
  }
  
.button:hover {
    background-color: #c29824;
    color: #ffffff!important;
    cursor: pointer;
  }
  
.strikethrough {
  width: 56px;
  height: 3px;
  background-color: #ffffff;
  opacity: 0.25;
  display: absolute;
  margin: auto 0;
  border-radius: 1px;
}

.modal-content{
   background-color: transparent;
}
.modal-backdrop.show{
  opacity: .92;
}

 :root{
   scroll-behavior: auto;
 }
 .active{
  color: #c29824 !important;
}

.card-img-top{
  border-radius: 0;
}