<footer id="footer" class="background-footer" [style.background-image]="'url(' + imgURL + ')'">
    <div *ngIf="footer_type" class="gradient"></div>
    <div *ngIf="footer_type" class="footer-gradient"></div>

    <div id="footerContainer" class="footer-container container-bg grid-footer-container font-gibson-light text-white">

        <div class="footer-navbar">
            <div class="logo">
                <a href=""><img src="assets/images/ChefLuke-Logo.svg" /></a>
            </div>

            <ul>
                <li><a  [routerLink] = "['/index']"  [routerLinkActive]="['active']">HOME</a></li>
                <li><a  [routerLink] = "['/chef_life']"   [routerLinkActive]="['active']">CHEF LIFE</a></li>
                <li><a [routerLink] = "['/podcast']"   [routerLinkActive]="['active']" >PODCAST</a></li>
                <li><a [routerLink] = "['/my_story']"   [routerLinkActive]="['active']">MY STORY</a></li>
                <li><a href="#about">META-HOSPITALITY</a></li>
            </ul>
        </div>
        <div class="grid-footer">
            <div class="footer-subscribe-container">
                <h2>JOIN ME & STAY IN THE KNOW.</h2>
                <a class="button color-golden font-gibson-light" (click)="open('subscribe')">SUBSCRIBE</a>
                <div>
                    <p>
                        Your privacy is important. We will never share your email or
                        information with anyone.
                    </p>
                    <a href="#about"> <span><svg class="footer-icon" xmlns="http://www.w3.org/2000/svg" width="17.143"
                                height="18" viewBox="0 0 17.143 18">
                                <path id="Search"
                                    d="M36.486,36.036l-2.9-2.822a8.023,8.023,0,1,0-5.924,2.64,7.928,7.928,0,0,0,4.615-1.478l3.016,2.932a.858.858,0,0,0,1.225-.03A.887.887,0,0,0,36.486,36.036ZM21.913,27.7a5.746,5.746,0,1,1,5.746,5.82A5.79,5.79,0,0,1,21.913,27.7Z"
                                    transform="translate(-19.611 -19.55)" fill="#fff" />
                            </svg></span> </a>
                    <a href="#about"> <span> <svg class="footer-icon" xmlns="http://www.w3.org/2000/svg" width="9"
                                height="18" viewBox="0 0 9 18">
                                <path id="Facebook"
                                    d="M28.283,19.643c-.087.873-.24,1.715-.384,2.5-.051.278-.143.3-.375.3-1.005.006-1.441,0-2.4.007-.251.007-.27.248-.27.376q0,3.437,0,6.875c0,.4-.007.922-.395.922-1.25,0-.659.02-2.375.02-.407,0-.456.01-.456-.395q0-3.736,0-7.471c0-.375-.007-.382-.375-.382-.622,0-.9,0-1.518,0-.436,0-.4-.04-.415-.4-.021-.534-.021-2.033-.021-2.471,0-.17.055-.225.225-.223.6.008,1.2-.006,1.8.008.213,0,.283-.053.28-.273-.01-.847-.026-1.7.008-2.541a3.705,3.705,0,0,1,3.07-3.7,8.97,8.97,0,0,1,2.41-.126c.338.01.64.047,1.012.074.156.011.186.073.183.208-.022.847-.041,1.694-.053,2.541,0,.168-.078.2-.225.2-.711,0-1.424-.057-2.134.014a.9.9,0,0,0-.929.923c-.075.837-.015,1.676-.035,2.514,0,.2.131.165.247.166h2.813c.335,0,.353,0,.319.341"
                                    transform="translate(-19.294 -12.644)" fill="#fff" />
                            </svg> </span> </a>
                    <a href="#about"> <span> <svg class="footer-icon" xmlns="http://www.w3.org/2000/svg" width="18"
                                height="18" viewBox="0 0 18 18">
                                <path id="Instagram"
                                    d="M28.4,19.423c0-1.7.016-3.4,0-5.1-.03-2.62-1.292-3.9-3.9-3.922q-5.1-.036-10.2,0c-2.537.021-3.849,1.328-3.868,3.847q-.038,5.1,0,10.192c.014,2.6,1.3,3.9,3.908,3.922q5.1.036,10.2,0c2.545-.021,3.822-1.309,3.861-3.847C28.422,22.821,28.4,21.122,28.4,19.423Zm-3.433-7.006c1.346,0,1.346,0,1.345,1.759,0,1.339,0,1.339-1.758,1.338-1.272,0-1.272,0-1.272-1.579C23.283,12.417,23.283,12.417,24.968,12.417Zm-5.589,3.79a3.173,3.173,0,1,1-3.127,3.33A3.212,3.212,0,0,1,19.379,16.207Zm7.388,8.359c-.028,1.482-.669,2.15-2.146,2.162q-5.213.043-10.427,0c-1.453-.012-2.121-.7-2.146-2.177-.036-2.075.008-4.152-.021-6.227-.008-.574.133-.773.752-.778.731-.006,1.1-.006,1.982.011-.69,2.57-.1,4.666,2.142,6.052a4.557,4.557,0,0,0,5.328-.2,5.035,5.035,0,0,0,1.858-5.843c1.3,0,2.041,0,2.041,0s.652-.1.644,1.258C26.774,20.375,26.8,23.019,26.767,24.566Z"
                                    transform="translate(-10.409 -10.386)" fill="#fff" />
                            </svg></span> </a>
                </div>
            </div>
        </div>

</div>

</footer>