footer {
  height: 1283px;
  margin-top: 108px;
}
.background-footer {
  background-size: cover;
  background-position: center;
  position: relative;
}
.gradient {
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
  height: 243px;
  transform: matrix(-1, 0, 0, -1, 0, 0);
  position: absolute;
  z-index: 2;
  width: 100%;
}
.footer-gradient {
  background: transparent linear-gradient(180deg, #00000000 0%, #000000 100%) 0% 0% no-repeat padding-box;
  position: absolute;
  bottom: 473px;
  opacity: 0.6;
  height: 243px;
  width: 100%;
}
.footer-container {
  position: absolute;
  bottom: 0px;
  height: 473px;
  z-index: 5;
  width: 100%;
}

.footer-navbar {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  align-items: start;
  align-items: center;
  padding-bottom: 20px;
}

.footer-navbar ul {
  display: contents;
  text-align: left;
  list-style-type: none;
}
li a:hover {
  display: block;
  color: #c29824;
  text-decoration: none;
}
.footer-navbar ul li a {
  margin: 30px 0 0 0;
  letter-spacing: 2.1px;
  font-size: 17px;
  line-height: 1;
}

.grid-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  place-items: center;
}

.footer-subscribe-container h2 {
  font-size: 20px;
}

.footer-subscribe-container a {
  line-height: 1;
  padding: 14px 60px 16px 60px;
}

.footer-subscribe-container div {
  grid-column: span 2;
  text-align: left;
  text-align: center;
  padding-bottom: 20px;
}

.footer-subscribe-container div p {
  font-size: 15px;
  letter-spacing: 0;
  margin-bottom: 28px;
  line-height: 0.8;
}

.footer-subscribe-container div a {
  line-height: 1;
  padding: 0;
  text-decoration: none;
  margin: 0 24px 0 5px;
}

.footer-subscribe-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  row-gap: 40px;
  align-items: center;
  margin: 0 5%;
}
li a {
  display: block;
  color: white;
  margin: 0px 25px;
  text-decoration: none;
}
.button {
  font-size: 17px;
  background: #00000080 0% 0% no-repeat padding-box;
  border: 2px solid #c29824;
  padding: 6px 20px;
  text-decoration: none;
  &:hover {
    background-color: #c29824;
  }
}
.active {
  color: #c29824 !important;
}
.container-bg {
  background: rgba(0, 0, 0, 0.6);
}
.grey-background {
  background-color: #101010;
  height: 473px;
}
.footer-icon:hover path {
  fill: #c29824;
}

@media (min-width: 576px) {
  .footer-container {
    position: absolute;
    bottom: 0px;
    height: 473px;
    padding-top: 77px;
    z-index: 5;
  }
  .button {
    font-size: 19px;
    padding: 9px 35px;
  }
  .footer-subscribe-container a {
    line-height: 1;
    padding: 15px 98px 20px 90px;
  }
}
@media (min-width: 768px) {
  .grid-footer-container {
    display: grid;
    grid-template-columns: 100px repeat(4, 1fr) 100px;
    width: 100%;
    place-items: start;
  }

  .footer-subscribe-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    row-gap: 40px;
    align-items: center;
  }

  .grid-footer {
    width: fit-content;
    grid-column: 3/6;
    justify-self: right;
  }

  .footer-subscribe-container div {
    text-align: left;
  }
  .footer-navbar {
    grid-column: 2/3;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-items: left;
    padding-bottom: 0;
  }
  .footer-subscribe-container h2 {
    text-align: left;
    letter-spacing: 1px;
    font-size: 28px;
    font-weight: 100;
    line-height: 1;
    margin: 0;
    margin-bottom: 7px;
  }
  .button {
    padding: 11px 41px;
  }
}
@media (min-width: 992px) {
  .footer-subscribe-container {
    display: flex;
    flex-direction: column;
    height: fit-content;
    row-gap: 40px;
    align-items: center;
  }

  .grid-footer {
    width: fit-content;
    grid-column: 3/6;
    justify-self: right;
  }
}

@media (min-width: 1200px) {
  li a {
    display: block;
    color: white;
    margin: 0px 25px;
    text-decoration: none;
  }

  .footer-subscribe-container {
    display: grid;
    height: fit-content;
    column-gap: 37px;
    row-gap: 40px;
    align-items: center;
    grid-template-columns: auto auto;
    justify-content: end;
    margin: 0;
  }
}

@media (min-width: 1400px) {
  li a {
    display: block;
    color: white;
    margin: 0px 43px;
    text-decoration: none;
  }

  .grid-footer {
    width: fit-content;
    margin-right: 230px;
    grid-column: 3/6;
    justify-self: right;
  }
}
