<section id="section-c" class="grid-container">

    <div class="section-b-heading" style="padding-top: 97px">
        <p class="font-gibson-light">Podcast</p>
        <div class="heading-container heading-container-b">
            <div class="strikethrough"></div>
            <div class="heading-gallery font-bodega color-golden">
                EPISODES
            </div>
            <div class="strikethrough"></div>
        </div>
    </div>


    <div class="grid-center grid-container-podcast font-gibson-light">
        <div (click)="shiftLeft()">
            <i class="fal fa-chevron-left chevron-left"></i>
        </div>
        <!--  -->
        <div name="card"  *ngFor='let x of podcasts; let index = index'  [ngClass]="[index == 1 ? 'second': '',index == 2 ? 'third': '']"  class="card-tr" >
            <app-podcast-card class="podcast-card " [ngClass]="index == 0 ? '': 'margin'"  
                [Podcast_ID]="x.PodcastID" 
                [Podcast_Title]="x.PodcastTitle"
                [Podcast_Date]="x.PodcastDate" 
                [Podcast_ImgUrl]="x.PodcastImgUrl"
                [Podcast_Content]="x.PodcastContent"> >
            </app-podcast-card>
       </div>
        <!--  -->


        <div (click)="shiftRight()">
            <i  class="fal fa-chevron-right chevron-right"></i>
        </div>
    </div>

    <div class="grid-center">
        <a class="button color-golden font-gibson-light" href="" style="padding: 11px 44px" [routerLink]="['/podcast']" > MORE PODCASTS</a>
    </div>


</section>