.podcast-content h4 {
    font-size: 36px;
    letter-spacing: 0px;
    margin-bottom: 6px;
}
.podcast-content p {
    font-size: 20px;
    line-height: 1.4;
}
.img-container img:hover + svg {
    background-color: #c29824;
    border-radius: 50%;
}
.date {
    margin-top: -3px;
    letter-spacing: 0.3px;
    margin-bottom: 0;

}
.podcast-description {
    margin-bottom: 21px;
}
.podcast-content {
    display: inline;
    margin-left: 30px;
    flex: 1;
    max-width: 286px;
}
.learn-more-btn {
    text-decoration: none;
    float: left;
    font-size: 15px;
    letter-spacing: 1.9px;
    &:hover{
        color: #c29824!important;
    }
}

.img-container {
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    place-self: baseline;
  }
  .img-container :hover {
    transform: scale(1.1);
    transition: 0.3s ease-out;
    cursor: pointer;
  }

  .play-video {
    position: absolute;
    font-size: 40px;
    z-index: 2;
    pointer-events: none;
    fill: #ffffff;
  }
  .share-btn {
    color: #797979;
    font-size: 19px;
    padding: 3px 18px;
}

