.section-b-heading {
    padding-top: 181px;
    grid-column: 2 / 6;
}
.grid-center {
    grid-column: 2 / 6;
}
.section-b-heading p {
    letter-spacing: 0px;
    font-size: 25px;
    color: #ffffff;
    margin-bottom: -4px;
    padding-top: 4px;
}
.heading-gallery {
    letter-spacing: 0px;
    font-size: 70px;
}
.heading-container {
    display: flex;
    max-width: 303px;
    margin: auto;
    margin-bottom: 64px;
    line-height: 0.9;
    column-gap: 20px;
}
.heading-container-b {
    max-width: 314px;
    column-gap: 16.5px;
}

.grid-container-podcast {
    display: grid;
    grid-template-columns: 20px repeat(1, 1fr) 20px;
    margin-bottom: 64px;
    column-gap: 1.5%;
}

.podcast-card {
    display: block;
    align-items: center;
    padding: 0 10px;
}
.chevron-left,
.chevron-right {
    height: fit-content;
    margin: auto;
    font-size: 40px;
    background: padding-box;
    text-decoration: none;
    color: #ffffff;
    &:hover {
        cursor: pointer;
    }
  
}
.chevron-left {
    float: left;
}
#section-c {
    margin-top: -15px;
}
.chevron-right {
    float: right;
}

.grid-container-podcast > * {
    align-self: center;
}
.margin {
    margin-left: 16px;
}
.third {
    display: none !important;
}
.second {
    display: none !important;
}

.grid-container {
    display: grid;
    grid-template-columns: 30px repeat(4, 1fr) 30px;
    width: 100%;
}
@media (min-width: 576px) {
    .podcast-card {
        display: inline-flex;
        align-items: center;
        padding: 0;
    }
    .grid-container {
        display: grid;
        grid-template-columns: 50px repeat(4, 1fr) 50px;
        width: 100%;
    }
    .podcast-card {
        display: inline-flex;
        align-items: center;
    }
    .heading-gallery {
        font-size: 80px;
    }
    .podcast-card {
        padding: 0 5px;
    }
}
@media (min-width: 768px) {
    .grid-container {
        grid-template-columns: 70px repeat(4, 1fr) 70px;
    }
}

@media (min-width: 1200px) {
    .grid-container-podcast {
        display: grid;
        grid-template-columns: 40px repeat(2, 1fr) 40px;
        column-gap: 30px;
    }
    .grid-container {
        grid-template-columns: 100px repeat(4, 1fr) 100px;
    }

    .second {
        display: flex !important;
    }
}

@media (min-width: 1400px) {
    .grid-container-podcast {
        display: grid;
        grid-template-columns: 50px repeat(3, 1fr) 50px;
        display: flex;
        align-items: baseline;
    }
}
@media (min-width: 1500px) {
    .third {
        display: flex !important;
    }
}

